<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/easyui/themes/icon.css">
	<script type="text/javascript" src="/static/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax_fun.js"></script>

    <style type="text/css">
    	a {cursor: pointer;}
    	.return_pg {color:#000;text-decoration:none;}
       	.return_pg span {font-size: 21px;}
     	.reload_pg {margin-left: 2px;color:#000;}
      	.reload_pg span {font-size: 21px;}
    	hr {width: 100%;}
    </style>

</head>
<body>

	<a href="javascript:history.go(-1)" class="return_pg"><span> ⬅ </span></a>
	<span style="font-size: 18px;margin-left: 10px;"> {{.title}}</span>
	<a onclick="location.reload()" class="reload_pg"><span> ↺ </span></a>
	<br>
	<hr>
	
	<div show="show">
		<pre>{{.data}}</pre>
	</div>


<script type="text/javascript">
</script>



</body>
</html>




## 基础信息
				- host: 192.168.0.197:6379
				- 分析时间：2020-09-16 18:27:09
				\n## 容量分析
				- 宿主系统内存 : 31.21G
				- 已用内存: 970.16M
				- 内存使用占比: 0.030354818076348544 %!
(MISSING)				\n## Ping
				> 平均值 : 0.20021270000000002 ms
				
				1. 是否成功: true; 用时: 0.305384 ms;\n
				\n
				2. 是否成功: true; 用时: 0.217177 ms;\n
				\n
				3. 是否成功: true; 用时: 0.170891 ms;\n
				\n
				4. 是否成功: true; 用时: 0.173285 ms;\n
				\n
				5. 是否成功: true; 用时: 0.170321 ms;\n
				\n
				6. 是否成功: true; 用时: 0.164261 ms;\n
				\n
				7. 是否成功: true; 用时: 0.198051 ms;\n
				\n
				8. 是否成功: true; 用时: 0.217166 ms;\n
				\n
				9. 是否成功: true; 用时: 0.21029 ms;\n
				\n
				10. 是否成功: true; 用时: 0.175301 ms;\n
				\n
				\n## 命中率
				> 0.7159084778016414 %!
(MISSING)				\n## 设置了ttl的key所在总量的占比
				> 0.17813130523336754 %!
(MISSING)				\n## 统计总数
				- key总数 : 262183
				- 设置了ttl key总数 : 46703
				- string类型的key总数 : 211591
				- hash类型的key总数 : 7288
				- list类型的key总数 : 17
				- set类型的key总数 : 48
				- zset类型key总数 : 43239
				- key大小 : 196009688
				\n]
